#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

form,
fieldset {
  width: 600px;
  display: inline-block;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.formControl__error {
  color: red;
  font-size: small;
}

button {
  margin-top: 2em;
}
