#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  margin: 2em auto;
  display: flex;
  padding: 0.8em 2.5em;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.formControl__error {
  color: red;
  font-size: small;
}

.form,
fieldset {
  display: block;
}

fieldset {
  border: 1px solid #cccccc;
  padding: 1em;
  margin-bottom: 2em;
}

legend {
  font-size: small;
  color: #707070;
}
